h1, h2, h3, h4, div, ul, ol, li, dl, dt, dd, p, address, header, nav, main,
section, article, footer, aside, figure, a, form, fieldset, legend, button {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header, body, nav, main, section, article, footer, aside, figure, input {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #898989;
}

a img {
  border: 0;
}

img {
  vertical-align: middle;
}

body {
  font: 15px/1.6 'Noto Sans KR';
}

body.no-scroll {
  height: 100vh;
  overflow: hidden;
}

header.main-header.first {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 999;
  border: none;
}

header.main-header.first div.container {
  position: relative;
  max-width: calc(100% - 40px);
  width: 1200px;
  height: 100%;
  color: #fff;
  margin: 0 auto;
}

header.main-header.first div.container h1.logo a {
  color: #fff;
}

@media all and (max-width: 768px) {
  header.main-header.first {
    height: 50px;
  }
}

header.main-header.first[open] {
  background-color: #F5F6F8;
  height: 480px;
}

header.main-header.first[open] h1.logo {
  padding-left: 30px;
}

header.main-header.first[open] h1.logo a {
  -webkit-transform: scale(1.5) translateY(-50%);
          transform: scale(1.5) translateY(-50%);
  color: #949592;
}

header.main-header.first[open] h1.logo a span {
  color: #949592;
}

@media all and (max-width: 768px) {
  header.main-header.first[open] h1.logo {
    height: 50px;
    position: relative;
  }
  header.main-header.first[open] h1.logo a {
    padding-top: 30px;
    font-size: 14px;
  }
  header.main-header.first[open] h1.logo a span {
    font-size: 13px;
    padding-left: 10px;
  }
}

@media all and (max-width: 768px) {
  header.main-header.first[open] {
    position: fixed;
    right: 0;
    left: auto;
    width: 85%;
    height: 100%;
  }
  header.main-header.first[open] div.container {
    height: 100%;
  }
}

header.main-header.first[open] .menu-opener {
  top: 65px;
}

header.main-header.first[open] .menu-opener .menu-stick {
  background-color: #646464;
}

header.main-header.first[open] .menu-opener .menu-stick:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 2px;
          transform-origin: 2px;
}

header.main-header.first[open] .menu-opener .menu-stick:nth-child(2) {
  opacity: 0;
}

header.main-header.first[open] .menu-opener .menu-stick:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 2px;
          transform-origin: 2px;
}

@media all and (max-width: 768px) {
  header.main-header.first[open] .menu-opener {
    top: 16.5px;
  }
}

header.main-header.first[open] nav.tnb a {
  color: #949592;
}

@media all and (max-width: 768px) {
  header.main-header.first[open] nav.tnb {
    display: block;
    top: auto;
    right: -20px;
    bottom: 0px;
    width: 100%;
    min-width: calc(100% + 40px);
  }
  header.main-header.first[open] nav.tnb a {
    width: 50%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #DCDCDC;
  }
  header.main-header.first[open] nav.tnb a:first-child {
    display: none;
  }
  header.main-header.first[open] nav.tnb a:nth-child(2), header.main-header.first[open] nav.tnb a:nth-child(3) {
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  header.main-header.first[open] nav.tnb a:nth-child(2) {
    border-right: 1px solid #DCDCDC;
  }
}

header.main-header.first[open] nav.gnb ul.gnb-menu li.menu-item a {
  color: #110c0c;
  font-weight: bold;
}

header.main-header.first[open] nav.gnb ul.gnb-menu li.menu-item ul.sub-menu {
  background-color: transparent;
  padding: 15px 30px;
  height: auto;
  margin-left: 30px;
  white-space: nowrap;
}

header.main-header.first[open] nav.gnb ul.gnb-menu li.menu-item ul.sub-menu li {
  display: block;
  height: 45px;
  -webkit-transition: height .4s;
  transition: height .4s;
}

header.main-header.first[open] nav.gnb ul.gnb-menu li.menu-item ul.sub-menu li a {
  color: #646464;
}

@media all and (max-width: 768px) {
  header.main-header.first[open] nav.gnb {
    width: 100%;
    height: calc(100vh - 160px);
    opacity: 1;
    overflow: auto;
  }
  header.main-header.first[open] nav.gnb > ul.gnb-menu {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: block;
  }
  header.main-header.first[open] nav.gnb > ul.gnb-menu > li.menu-item {
    width: 100%;
    text-align: left;
    float: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  header.main-header.first[open] nav.gnb > ul.gnb-menu > li.menu-item.sub-menu-open > ul.sub-menu {
    opacity: 1;
    height: auto;
    padding: 0;
  }
  header.main-header.first[open] nav.gnb > ul.gnb-menu > li.menu-item.sub-menu-open > ul.sub-menu > li {
    height: 45px;
  }
  header.main-header.first[open] nav.gnb > ul.gnb-menu > li.menu-item.sub-menu-open > ul.sub-menu > li a {
    opacity: 1;
  }
  header.main-header.first[open] nav.gnb > ul.gnb-menu > li.menu-item > a {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 15px 15px 10px 15px;
  }
  header.main-header.first[open] nav.gnb > ul.gnb-menu > li.menu-item > ul.sub-menu {
    height: 0px;
    opacity: 0;
    padding: 0px;
  }
  header.main-header.first[open] nav.gnb > ul.gnb-menu > li.menu-item > ul.sub-menu > li {
    height: 40px;
  }
  header.main-header.first[open] nav.gnb > ul.gnb-menu > li.menu-item > ul.sub-menu > li > a {
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: 1.5px;
    opacity: 0;
  }
}

header.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-bottom: 1px solid #dbdbdb;
  z-index: 999;
}

header.main-header div.container {
  position: relative;
  max-width: calc(100% - 40px);
  width: 1200px;
  height: 100%;
  color: #fff;
  margin: 0 auto;
}

header.main-header div.container h1.logo {
  height: 100%;
}

header.main-header div.container h1.logo a {
  position: absolute;
  vertical-align: middle;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font: bold 36px 'Raleway';
  color: #949592;
  line-height: 0.9;
  -webkit-transition: all .4s;
  transition: all .4s;
}

header.main-header div.container h1.logo a span {
  display: block;
  padding-left: 30px;
  font-size: 30px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media all and (max-width: 768px) {
  header.main-header div.container h1.logo a {
    font-size: 14px;
  }
  header.main-header div.container h1.logo a span {
    font-size: 13px;
    padding-left: 10px;
  }
}

@media all and (max-width: 768px) {
  header.main-header {
    height: 50px;
  }
}

div.container > nav.gnb {
  position: absolute;
  top: 58px;
  right: 80px;
  width: 690px;
  overflow: hidden;
}

div.container > nav.gnb > ul.gnb-menu {
  overflow: hidden;
  max-width: calc(100% - 10px);
}

div.container > nav.gnb > ul.gnb-menu > li.menu-item {
  width: 25%;
  float: left;
  text-align: center;
}

div.container > nav.gnb > ul.gnb-menu > li.menu-item > a {
  display: block;
  color: #110c0c;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 20px 40px;
}

div.container > nav.gnb > ul.gnb-menu > li.menu-item > ul.sub-menu {
  position: relative;
  height: 0px;
  overflow: hidden;
  background-color: #fff;
  padding: 0px 30px;
}

div.container > nav.gnb > ul.gnb-menu > li.menu-item > ul.sub-menu > li {
  height: 0px;
  text-align: left;
}

div.container > nav.gnb > ul.gnb-menu > li.menu-item > ul.sub-menu > li > a {
  color: #898989;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 45px;
}

@media all and (max-width: 768px) {
  div.container > nav.gnb {
    opacity: 0;
    height: 0px;
    overflow: hidden;
  }
}

div.container a.menu-opener {
  position: absolute;
  top: 65px;
  right: 0;
}

div.container a.menu-opener span.menu-stick {
  background: #646464;
  display: block;
  width: 40px;
  height: 3px;
  margin: 0 0 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media all and (max-width: 768px) {
  div.container a.menu-opener {
    top: 18.5px;
  }
  div.container a.menu-opener span.menu-stick {
    width: 20px;
    height: 1px;
    margin: 0 0 5px;
  }
}

div.container nav.tnb {
  position: absolute;
  top: 0;
  right: 0;
}

div.container nav.tnb a {
  color: #949592;
  padding: 5px 15px;
  margin-right: 10px;
  font-size: 12px;
}

@media all and (max-width: 768px) {
  div.container nav.tnb {
    display: none;
  }
}

header.main-header[open] {
  background-color: #F5F6F8;
  height: 480px;
}

header.main-header[open] div.container h1.logo {
  padding-left: 30px;
}

header.main-header[open] div.container h1.logo a {
  -webkit-transform: scale(1.5) translateY(-50%);
          transform: scale(1.5) translateY(-50%);
  color: #949592;
}

header.main-header[open] div.container h1.logo a span {
  color: #949592;
}

@media all and (max-width: 768px) {
  header.main-header[open] div.container h1.logo {
    height: 50px;
    position: relative;
  }
  header.main-header[open] div.container h1.logo a {
    padding-top: 30px;
    font-size: 14px;
  }
  header.main-header[open] div.container h1.logo a span {
    font-size: 13px;
    padding-left: 10px;
  }
}

@media all and (max-width: 768px) {
  header.main-header[open] {
    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
    height: 100%;
  }
  header.main-header[open] div.container {
    height: 100%;
  }
}

header.main-header[open] .menu-opener {
  top: 65px;
}

header.main-header[open] .menu-opener .menu-stick {
  background-color: #646464;
}

header.main-header[open] .menu-opener .menu-stick:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 2px;
          transform-origin: 2px;
}

header.main-header[open] .menu-opener .menu-stick:nth-child(2) {
  opacity: 0;
}

header.main-header[open] .menu-opener .menu-stick:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 2px;
          transform-origin: 2px;
}

@media all and (max-width: 768px) {
  header.main-header[open] .menu-opener {
    top: 16.5px;
  }
}

header.main-header[open] nav.tnb a {
  color: #949592;
}

@media all and (max-width: 768px) {
  header.main-header[open] nav.tnb {
    display: block;
    top: auto;
    right: -20px;
    bottom: 0px;
    width: 100%;
    min-width: calc(100% + 40px);
  }
  header.main-header[open] nav.tnb a {
    width: 50%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #DCDCDC;
  }
  header.main-header[open] nav.tnb a:first-child {
    display: none;
  }
  header.main-header[open] nav.tnb a:nth-child(2), header.main-header[open] nav.tnb a:nth-child(3) {
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  header.main-header[open] nav.tnb a:nth-child(2) {
    border-right: 1px solid #DCDCDC;
  }
}

header.main-header[open] nav.gnb ul.gnb-menu li.menu-item a {
  color: #110c0c;
  font-weight: bold;
}

header.main-header[open] nav.gnb ul.gnb-menu li.menu-item ul.sub-menu {
  background-color: transparent;
  padding: 15px 30px;
  height: auto;
  margin-left: 30px;
  white-space: nowrap;
}

header.main-header[open] nav.gnb ul.gnb-menu li.menu-item ul.sub-menu li {
  display: block;
  height: 45px;
  -webkit-transition: height .4s;
  transition: height .4s;
}

header.main-header[open] nav.gnb ul.gnb-menu li.menu-item ul.sub-menu li a {
  color: #646464;
}

@media all and (max-width: 768px) {
  header.main-header[open] nav.gnb {
    width: 200px;
    left: 0;
    height: auto;
    margin-left: 20px;
    z-index: 999;
    opacity: 1;
  }
  header.main-header[open] nav.gnb > ul.gnb-menu {
    margin-top: 20px;
    height: 100%;
    display: block;
  }
  header.main-header[open] nav.gnb > ul.gnb-menu > li.menu-item {
    width: 100%;
    text-align: left;
    float: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  header.main-header[open] nav.gnb > ul.gnb-menu > li.menu-item.sub-menu-open > ul.sub-menu {
    opacity: 1;
    height: auto;
    padding: 0;
  }
  header.main-header[open] nav.gnb > ul.gnb-menu > li.menu-item.sub-menu-open > ul.sub-menu > li {
    height: 45px;
  }
  header.main-header[open] nav.gnb > ul.gnb-menu > li.menu-item.sub-menu-open > ul.sub-menu > li a {
    opacity: 1;
  }
  header.main-header[open] nav.gnb > ul.gnb-menu > li.menu-item > a {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 15px 15px 10px 15px;
  }
  header.main-header[open] nav.gnb > ul.gnb-menu > li.menu-item > ul.sub-menu {
    height: 0px;
    opacity: 0;
    padding: 0px;
  }
  header.main-header[open] nav.gnb > ul.gnb-menu > li.menu-item > ul.sub-menu > li {
    height: 40px;
  }
  header.main-header[open] nav.gnb > ul.gnb-menu > li.menu-item > ul.sub-menu > li > a {
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: 1.5px;
    opacity: 0;
  }
}

footer {
  background-color: #5a5a5a;
  text-align: center;
  overflow: hidden;
}

footer div.btn-set {
  margin: 40px auto 0;
}

footer div.btn-set a {
  border: 1px solid #9c9c9c;
  border-radius: 30px;
  padding: 6px 18px;
  margin: 0 5px;
  color: #fff;
  font-size: 12px;
}

footer div.btn-set a i {
  padding-left: 5px;
}

footer address.main-footer {
  margin: 20px auto 0;
}

footer address.main-footer span {
  font-style: normal;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 10px;
  border-right: 1px solid #9c9c9c;
}

footer address.main-footer span a {
  color: rgba(255, 255, 255, 0.6);
}

footer address.main-footer span:nth-child(4), footer address.main-footer span:last-child {
  border: none;
}

footer div.valleyLogo {
  width: 190px;
  height: 45px;
  margin: 30px auto 40px;
  background-color: #4a4a4a;
  border-radius: 30px;
}

@media all and (max-width: 768px) {
  footer div.btn-set {
    width: 100%;
    margin: 0;
  }
  footer div.btn-set a {
    display: block;
    border: 1px solid #5A5A5A;
    border-radius: 0;
    height: 55px;
    line-height: 55px;
    background-color: #545454;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
  }
  footer address.main-footer {
    margin: 0px;
  }
  footer address.main-footer span {
    padding: 15px 0px 0px 0px;
    display: block;
    font-size: 14px;
    color: #fff;
  }
  footer address.main-footer span a {
    color: #fff;
  }
  footer address.main-footer br {
    display: none;
  }
}

div.logo-Top {
  z-index: 9999;
  position: fixed;
  right: 0;
  bottom: 30px;
  width: 55px;
  height: 55px;
  background-color: #333333;
  color: #fff;
  line-height: 55px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}
/*# sourceMappingURL=header-and-footer-style.css.map */