@mixin media-mobile {
  @media all and (max-width:768px) {
    @content;
  }
}

// reset
h1,h2,h3,h4,div,ul,ol,li,dl,dt,dd,p,address,header,nav,main,
section,article,footer,aside,figure,a,form,fieldset,legend,button {
  margin: 0; padding: 0; box-sizing: border-box;}

header, body, nav, main, section, article, footer, aside, figure, input {
  display: block; margin:0; padding: 0;
}

li {list-style: none;}
a {text-decoration: none; color: #898989;}
a img {border: 0;}
img {vertical-align: middle;} //인라인요소에 middle 기본 리셋
body {font: 15px/1.6 'Noto Sans KR';}
body.no-scroll {height: 100vh; overflow: hidden;}

//main page header
header.main-header.first {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: rgba(0,0,0,0.6);
  transition: all .4s;
  z-index: 999;
  border: none;
  
  div.container {
    position: relative;
    max-width: calc(100% - 40px);
    width: 1200px;
    height: 100%;
    color: #fff;
    margin: 0 auto;

    h1.logo {
      a{
        color: #fff;
      }
    }
  }
  
  //header.main-header
  @include media-mobile(){
    height: 50px;
  }
}

//main page header open
header.main-header.first {
  
  &[open] {
    background-color: #F5F6F8;
    height: 480px;

    h1.logo {
      //패딩효과가 부자연스러움
      padding-left: 30px;

      a {
        transform: scale(1.5) translateY(-50%);
        color: #949592;

        span {
          //색이 늦게 바뀜
          color: #949592;
        }
      }

      //h1
      @include media-mobile(){
        height: 50px;
        position: relative;


        a{
          padding-top: 30px;
          font-size: 14px;
  
          span {
            font-size: 13px;
            padding-left: 10px;
          }
        }
      }
    }

    //header.main-header
    @include media-mobile(){
      position: fixed;
      right: 0;
      left: auto;
      width: 85%;
      height: 100%;
  
      div.container {
        height: 100%;
      }
    }

    .menu-opener {
      top: 65px;

      .menu-stick {
        background-color: #646464;
      }
      
      .menu-stick:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: 2px;
      }

      .menu-stick:nth-child(2) {
        opacity: 0; 
      }

      .menu-stick:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 2px;
      }

      @include media-mobile(){
        top: 16.5px;
      }
    }

    nav.tnb {
      a {
        color: #949592;
      }

      @include media-mobile(){
        display: block;
        top: auto;
        right: -20px;
        bottom: 0px;
        width: 100%;
        min-width: calc(100% + 40px);
        background: #F5F6F8;

        a{
          width: 50%;
          height: 50px;
          line-height: 50px;
          border-top: 1px solid #DCDCDC;

          &:first-child {
            display: none;
          }

          &:nth-child(2), &:nth-child(3) {
            display: block;
            float: left;
            padding: 0px;
            margin: 0px;
            text-align: center;
          }

          &:nth-child(2) {
            border-right: 1px solid #DCDCDC;
          }
        }
      }
    }

    nav.gnb {

      ul.gnb-menu {
        li.menu-item {
          
          a{
            color: #110c0c;
            font-weight: bold;
          }

          ul.sub-menu {
            background-color: transparent;
            padding: 15px 30px;
            height: auto;
            margin-left: 30px;
            white-space: nowrap;
            
            li {
              display: block;
              height: 45px;
              transition: height .4s;

              a{
                color: #646464;
              }
            }
          }
        }
      }

      //nav.gnb
      @include media-mobile(){
        width: 100%;
        height: calc(100vh - 160px);
        opacity: 1;
        overflow: auto;
    
        >ul.gnb-menu{
          margin-top: 20px;
          width: 100%;
          height: auto;
          display: block;
    
          >li.menu-item{
            width: 100%;
            text-align: left;
            float: none;
            transition: all .2s;
    
            &.sub-menu-open {
              > ul.sub-menu {
                opacity: 1;
                height: auto;
                padding: 0;
                
                >li {
                  height: 45px;

                  a{
                    opacity: 1;
                  }
                }
              }
            }
    
            >a {
              font-weight: normal;
              font-size: 20px;
              letter-spacing: 3px;
              padding: 15px 15px 10px 15px;
            }
            
            >ul.sub-menu{
              height: 0px;
              opacity: 0;
              padding: 0px;
    
              >li{
                height: 40px;

    
                >a{
                  font-size: 16px;
                  font-weight: normal;
                  line-height: 40px;
                  letter-spacing: 1.5px;   
                  opacity: 0;             
                }
              }
            }
          }
        }
      }
    }
  }
}
//main page header open end


//sub page header
header.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background: #fff;
  transition: all .4s;
  border-bottom: 1px solid #dbdbdb;
  z-index: 999;

  div.container {
    position: relative;
    max-width: calc(100% - 40px);
    width: 1200px;
    height: 100%;
    color: #fff;
    margin: 0 auto;

    h1.logo {
      height: 100%;

      a {
        position: absolute;
        vertical-align: middle;
        top: 50%;
        transform: translateY(-50%);
        font: bold 36px 'Raleway';
        color: #949592;
        line-height: 0.9;
        transition: all .4s;

        span {
          display: block;
          padding-left: 30px;
          font-size: 30px;
          transition: all .4s;
        }
      }
    }

    @include media-mobile(){

      h1.logo{
        a{
          font-size: 14px;

          span {
            font-size: 13px;
            padding-left: 10px;
          }
        }
      }
    }
  }
  
  //header.main-header
  @include media-mobile(){
    height: 50px;
  }
}

div.container {
  >nav.gnb {
    position: absolute;
    top: 58px;
    right: 80px;
    width: 690px;
    overflow: hidden;

    >ul.gnb-menu{
      overflow: hidden;
      max-width: calc(100% - 10px);

      >li.menu-item{
        width: 25%;
        float: left;
        text-align: center;

        >a{
          display: block;
          color: #110c0c;
          font-size: 18px;
          font-weight: bold;
          text-transform: capitalize;
          padding: 20px 40px;
        }
        
        >ul.sub-menu{
          position: relative;
          height: 0px;
          overflow: hidden;
          background-color: #fff;
          padding: 0px 30px;

          >li{
            height: 0px;
            text-align: left;

            >a{
              color: #898989;
              font-size: 16px;
              text-transform: capitalize;
              line-height: 45px;
            }
          }
        }
      }
    }

    @include media-mobile(){
      opacity: 0;
      height: 0px;
      overflow: hidden;
    }
  }
}

div.container {
  a.menu-opener {
    position: absolute;
    top: 65px;
    right: 0;

    span.menu-stick {
      background: #646464;
      display: block;
      width: 40px;
      height: 3px;
      margin: 0 0 10px;
      transition: all .4s;
      //click할때 transition 적용

    }

    @include media-mobile(){
      top: 18.5px;

      span.menu-stick {
        width: 20px;
        height: 1px;
        margin: 0 0 5px;
      }
    }
  }
}

div.container {
  nav.tnb {
    position: absolute;
    top: 0;
    right: 0;

    a {
      color: #949592;
      padding: 5px 15px;
      margin-right: 10px;
      font-size: 12px;
    }

    @include media-mobile(){
      display: none;    
    }
  }
}
//sub page header end


//sub page header open
header.main-header {
  &[open] {
    background-color: #F5F6F8;
    height: 480px;

    div.container{

      h1.logo {
        //패딩효과가 부자연스러움
        padding-left: 30px;

        a {
          transform: scale(1.5) translateY(-50%);
          color: #949592;

          span {
            //색이 늦게 바뀜
            color: #949592;
          }
        }

        //h1
        @include media-mobile(){
          height: 50px;
          position: relative;


          a{
            padding-top: 30px;
            font-size: 14px;

            span {
              font-size: 13px;
              padding-left: 10px;
            }
          }
        }
      }
    }

    //header.main-header
    @include media-mobile(){
      position: fixed;
      top: 0;
      right: 0;
      width: 85%;
      height: 100%;

      div.container {
        height: 100%;
      }
    }

    .menu-opener {
      top: 65px;

      .menu-stick {
        background-color: #646464;
      }
        //click할때 transition 적용
      .menu-stick:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: 2px;
      }

      .menu-stick:nth-child(2) {
        opacity: 0; 
      }

      .menu-stick:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 2px;
      }

      @include media-mobile(){
        top: 16.5px;
      }
    }

    nav.tnb {
      a {
        color: #949592;
      }

      @include media-mobile(){
        display: block;
        top: auto;
        right: -20px;
        bottom: 0px;
        width: 100%;
        min-width: calc(100% + 40px);

        a{
          width: 50%;
          height: 50px;
          line-height: 50px;
          border-top: 1px solid #DCDCDC;

          &:first-child {
            display: none;
          }

          &:nth-child(2), &:nth-child(3) {
            display: block;
            float: left;
            padding: 0px;
            margin: 0px;
            text-align: center;
          }

          //2번째 자식 cursor가 안바뀜 
          &:nth-child(2) {
            border-right: 1px solid #DCDCDC;
          }
        }
      }
    }

    nav.gnb {

      ul.gnb-menu {
        li.menu-item {
          
          a{
            color: #110c0c;
            font-weight: bold;
          }

          ul.sub-menu {
            background-color: transparent;
            padding: 15px 30px;
            height: auto;
            margin-left: 30px;
            white-space: nowrap;
            
            li {
              display: block;
              height: 45px;
              transition: height .4s;

              a{
                color: #646464;
              }
            }
          }
        }
      }

      //nav.gnb
      @include media-mobile(){
        width: 200px;
        left: 0;
        height: auto;
        margin-left: 20px;
        z-index: 999;
        opacity: 1;
    
        >ul.gnb-menu{
          margin-top: 20px;
          height: 100%;
          display: block;
    
          >li.menu-item{
            width: 100%;
            text-align: left;
            float: none;
            transition: all .2s;
    
            &.sub-menu-open {
              > ul.sub-menu {
                opacity: 1;
                height: auto;
                padding: 0;
                
                >li {
                  height: 45px;

                  a{
                    opacity: 1;
                  }
                }
              }
            }
    
            >a {
              font-weight: normal;
              font-size: 20px;
              letter-spacing: 3px;
              padding: 15px 15px 10px 15px;
            }
            
            >ul.sub-menu{
              height: 0px;
              opacity: 0;
              padding: 0px;
    
              >li{
                height: 40px;

    
                >a{
                  font-size: 16px;
                  font-weight: normal;
                  line-height: 40px;
                  letter-spacing: 1.5px;   
                  opacity: 0;             
                }
              }
            }
          }
        }
      }
    }
  }
}
//sub page header open end


//footer
footer {
  background-color: #5a5a5a;
  text-align: center;
  overflow: hidden;

  div.btn-set{
    margin: 40px auto 0;

    a {
      border: 1px solid #9c9c9c;
      border-radius: 30px;
      padding: 6px 18px;
      margin: 0 5px;
      color: #fff;
      font-size: 12px;

      i {
        padding-left: 5px;
      }
    }
  }

  address.main-footer {
    margin: 20px auto 40px;

    span {
      font-style: normal;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
      padding: 0 10px;
      border-right: 1px solid #9c9c9c;

      a{
        color: rgba(255, 255, 255, 0.6);
      }

      &:nth-child(4), &:last-child {
        border: none;
      }

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  //footer
  @include media-mobile(){

    div.btn-set {
      width: 100%;
      margin: 0;

      a{
        display: block;
        border: 1px solid #5A5A5A;
        border-radius: 0;
        height: 45px;
        line-height: 45px;
        background-color: #545454;
        margin: 0px;
        padding: 0px;
        font-size: 15px;

      }
    }

    address.main-footer {
      margin: 0px;

      span{
        padding: 15px 10px 0px 10px;
        display: block;
        font-size: 14px;
        color: #fff;
        word-break: keep-all;

        a{
          color: #fff;
        }
      }

      br {
        display: none;
      }
    }
  }
}
//footer end


div.logo-Top { 
  //맨위일때는 안보임
  z-index: 9999;
  position: fixed;
  right: 0;
  bottom: 30px;
  width: 55px;
  height: 55px;
  background-color: #333333;
  color: #fff;
  line-height: 55px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}