@mixin media-mobile {
  @media all and (max-width:768px) {
    @content;
  }
}

// reset
h1,h2,h3,h4,div,ul,ol,li,dl,dt,dd,p,address,header,nav,main,
section,article,footer,aside,figure,a,form,fieldset,legend,button {
  margin: 0; padding: 0; box-sizing: border-box;}

header, body, nav, main, section, article, footer, aside, figure, input {
  display: block; margin:0; padding: 0;
}

li {list-style: none;}
a {text-decoration: none; color: #898989;}
a img {border: 0;}
img {vertical-align: middle;} //인라인요소에 middle 기본 리셋
body {font: 15px/1.6 'Noto Sans KR';}




section{
  margin-top: 220px;

  .sign-wrap{
    width: 460px;
    margin: 100px auto;

    .sign-in {
      border: none;

      legend {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
      }
      input {
        box-sizing: border-box;
        outline: none;
        font-size: 15px;
        width: 100%;
        height: 50px;
        margin-top: 30px;
        padding-left: 20px;
        border: 1px solid #DCDCDC;
        color: gray;

        //여기에 쓰는건 맞는데 왜 세번째 자식이 2번째 input으로 인식하는지 모르겠음
        &:nth-child(3){
          margin-top: 20px;
        }
      }
  
      button {
        color: #fff;
        background: #744C95;
        display: block;
        width: 100%;
        height: 50px;
        margin-top: 30px;
        font-size: 15px;
        border: none;
      }

      p, a {
        text-align: center;
      }
      
      p {
        font-size: 15px;
        margin-top: 30px;
        color: #666666;
      }

      a {
        display: block;
        width: 100px;
        font-size: 15px;
        margin: 10px auto 30px;
        border: 1px solid #C9C9C9;
        border-radius: 30px;
        padding: 8px 20px;
      }
    }

    .sign-up {
      border: none;
      border-top: 1px solid #DCDCDC;
      padding-top: 30px;

      strong, p, a {
        text-align: center;
      }

      strong {
        display: block;
        font-size: 17px;
      }

      p {
        color: #555555;
        margin-top: 15px;

        em{
          font-style: normal;
          color: #76A029;
        }
      }

      a {
        margin: 30px 0px;
        display: block;
        height: 50px;
        line-height: 50px;
        color: #fff;
        background:#8AB933;

      }
    }
  }

  //section
  @include media-mobile(){
    margin: 100px 20px 50px;

    .sign-wrap {
      margin: 0px;
      width: 100%;

      .sign-in {
        legend {
          font-size: 26px;
        }
        input {
          margin-top: 16px;
          height: 40px;
          font-size: 16px;

          &:nth-child(3) {
            margin-top: 10px;
          }

        }
        button {
          margin-top: 20px;
          height: 40px;
        }
        p {
          font-size: 14px;
        }
        a {
          font-size: 14px;
          padding: 5px 20px;
        }
      }

      .sign-up {
        strong {

        }
        p {
          font-size: 14px;
          margin-top: 10px;

        }
        a{
          height: 40px;
          line-height: 40px;

        }
      }
    }
  }
}
