@mixin media-mobile {
  @media all and (max-width:768px) {
    @content;
  }
}

// reset
h1,h2,h3,h4,div,ul,ol,li,dl,dt,dd,p,address,header,nav,main,
section,article,footer,aside,figure,a,form,fieldset,legend,button {
  margin: 0; padding: 0; box-sizing: border-box;}

header, body, nav, main, section, article, footer, aside, figure, input {
  display: block; margin:0; padding: 0;
}

input, button {outline:none;}

li {list-style: none;}
a {text-decoration: none; color: #898989;}
a img {border: 0;}
img {vertical-align: middle;} //인라인요소에 middle 기본 리셋
body {font: 15px/1.6 'Noto Sans KR';}




section{
  margin-top: 220px;

  .sign-up-wrap{
    width: 460px;
    margin: 100px auto;

    .sign-up {
      border: none;

      i {
        font-size: 10px;
        color: red;
      }

      legend {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
      }

      strong{
        display: block;
        color: #646464;
        text-align: center;
        width: 390px;
        margin: 0 auto;

      }

      span {
        margin-top: 30px;
        display: block;
        color: #555555;

      }

      input {
        float: left;
        box-sizing: border-box;
        font-size: 15px;
        width: 100%;
        height: 50px;
        margin-top: 10px;
        padding-left: 20px;
        border: 1px solid #DCDCDC;
        color: gray;
      }
  
      button {
        float: right;
        display: block;
        width: 30%;
        color: #fff;
        background: #76A029;
        height: 50px;
        margin-top: 10px;
        font-size: 15px;
        border: none;
      }

      div {
        input {
          width: 69%;
        }
      }
    }

    .privacy-terms {
      border: none;
      border-top: 1px solid #DCDCDC;
      margin-top: 50px;
      padding-top: 30px;

      span{
        font-size: 15px;
      }

      p {
        // .으로 끝나면 자동으로 줄바꿈되도록 하고 싶음
        margin-top: 20px;
        padding: 40px 55px 40px 20px;
        height: 250px;
        overflow: auto;
        background: #F5F6F8;
        color: #6d6d6d;
        letter-spacing: 1px;
        font-size: 14px;
        word-break: keep-all;
      }

      input, label {
        display: inline-block;
        margin-top: 10px;
      }

      label {
        padding-left: 5px;
        color: #6d6d6d;
      }

      .btn-set {
        margin-top: 50px;

        button {
          display: block;
          width: 49%;
          color: #fff;
          height: 50px;
          font-size: 15px;
          border: none;
        }

        button[type=submit] {
          float: left;
          background: #744C95;
  
        }
  
        button[type=reset] {
          float: right;
          background: #76A029;
        }
      }
    }
  }

  //section
  @include media-mobile(){
    margin: 100px 20px 50px;

    .sign-up-wrap {
      margin: 0px;
      width: 100%;

      .sign-up {
        legend {
          font-size: 26px;
        }
        strong{
          width: 100%;
          font-weight: normal;

        }
        span{
          font-size: 14px;
        }
        input {
          margin-top: 15px;
          height: 40px;
          font-size: 16px;

          &:nth-child(3) {
            margin-top: 10px;
          }

        }

        div{
          button {
            margin-top: 15px;
            height: 40px;
          }
        }
      }

      .privacy-terms {
        margin-bottom: 70px;

        span {
          font-weight: bold;
        }

        p {
          height: 200px;
          font-size: 14px;
          margin-top: 10px;
          padding-right: 20px;
          letter-spacing: 0px;
          line-height: 1.7;
        }

        label{
          font-size: 14px;
        }

        .btn-set{
          margin-top: 20px;

          button{
            height: 40px;
            line-height: 40px;

          }
        }
      }
    }
  }
}