html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

section#main-door {
  position: fixed;
  width: 100%;
  height: 100%;

  .door-bg {
    transition: opacity .4s;

    .left-door{
      position: absolute;
      width: 50%;
      height: 100%;
      top:0;
      left:-25%;
      right: auto;
      bottom: 0;
      background-color: #CEE9F6;
      background-image: url(../img/main/img_smart_intro01.jpg);
      background-repeat: no-repeat;
      transition: left .5s, opacity .4s;
    }

    .right-door{
      position: absolute;
      width: 50%;
      height: 100%;
      top:0;
      left:75%;
      right: auto;
      bottom: 0;
      background-color: #CEE9F6;
      background-image: url(../img/main/img_smart_intro01.jpg);
      background-repeat: no-repeat;
      transition: left .5s, opacity .4s;
    }

    &.hide {
      opacity: 0;
    }

    &.door-active {
      .left-door {
        left:0%;
      }
      .right-door {
        left:50%;
      }
    }
  }

  //left right 를 만들고 opactiry 0 -> 1
  .cloud-bg {
    opacity: 0;
    transition: opacity .4s;

    .left-cloud {
      position: absolute;
      width: 50%;
      left: 0%;
      height: 100%;
      background: url(../img/main/img_smart_intro02-l.jpg) no-repeat right top ;
      transition: left .4s;
    }

    .right-cloud {
      position: absolute;
      width: 50%;
      left: 50%;
      height: 100%;
      background: url(../img/main/img_smart_intro02-r.jpg) no-repeat left top ;
      transition: left .4s;
    }

    &.show {
      opacity: 1;
    }

    &.cloud-active {
      .left-cloud {
        left:-100%;
      }
      .right-cloud {
        left:100%;
      }
    }
  }
}

section#main-door {

  @keyframes mask {
    from {width: 0%;}
    to {width: 100%;}
  }

  .logo {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 180px;
    height: 80px;
    transition: opacity 1s;

    &:after {
      content: url(../img/main/img_logo.png);
      display: block;
      overflow: hidden;
      animation-name: mask;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }

    &.hide {
      opacity: 0;
    }
  }

  .text-banner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 792px;
    height: 162px;
    transition: top 1s, opacity .4s;
    
    .banner-text-l {
      position: absolute;
      top: -1500px;
      left: 0px;
      width: 50%;
      height: 100%;
      background-image: url(../img/main/img_intro_txt_l.png);
      background-repeat: no-repeat;
      transition: top 1s;
    }

    .banner-text-r {
      position: absolute;
      left: 396px;
      top: 1500px;
      width: 50%;
      height: 100%;
      background-image: url(../img/main/img_intro_txt_r.png);
      background-repeat: no-repeat;
      transition: top 1s;
    }
    
    &.banner-active {
      .banner-text-l {
        top: 0px;
      }
      .banner-text-r {
        top: 0px;
      }
    }

    &.banner-move {
      top: 130px;
    }
  }
}

section#main-door {
  .actor-1, .actor-2 {
    position: absolute;
    background-image: url(../img/main/img_intro_model01.png);
    width: 1176px;
    height: 589px;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    transition: top 1s;

    &.actor-active{
      top: 30%;
    }
  }

  .actor-2 {
    background-image: url(../img/main/img_intro_model02.png);
    transition: top .4s; 
  }
}

section#main-door {
  img#uniform-1 {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s;

    &.uniform-active {
      opacity: 1;
    }
  }

  img#uniform-2 {
    position: absolute;
    left: 100%;
    width: 100%;
    transition: left .5s, opacity .4s;

    &.uniform-active {
      left:0;
    }
  }
}

//분홍텍스트배너
.text-banner-pink {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity .4s, top .6s ;
  width: 792px;
  height: 180px;
  opacity: 0;
  background: url(../img/main/img_intro02_txt.png);
  background-origin: cover;

  &.active {
    top: -50%;
  }
}

.skip {
  opacity: 0;
  position: fixed;
  display: block;
  top: 20px;
  right: 10px;
  width: 140px;
  height: 56px;
  background: url(../img/main/btn_skip.png) no-repeat;
  transition: opacity 1s; 
}

// 공통 css
.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}