// @import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

body {
  font-family: Futura, "Futura", "Malgun Gothic", "Dotum", sans-serif;
  font-size: 11px;

  &.overflow-hidden {
    overflow: hidden;
  }
}

body, header div, h1, h2, h3, h4, h5, h6, button, ul, li, a, span, em, p, aside, figure {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: none;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

em {
  font-style: normal;
}

input {
  border: none;
  box-sizing: border-box;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  overflow: auto;

  &.backdrop-on {
    display: block;
  }

  .dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 590px;
    max-height: 750px;
    padding: 25px 0px;
    background: #fff;
    text-align: center;
    color: #4B4B4B;
    font-weight: 300;

    > em {
      position: relative;
      display: block;
      padding: 25px 0px;
      font-weight: 400;
      font-size: 12px;
      color: #222;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, 0%);
        width: 30px;
        height: 1px;
        background: #E0DAD4;
      }
    }

    > h4 {
      margin: 30px auto 0px;
      padding-bottom: 10px;
      font-size: 24px;
      font-weight: 300;
    }

    > p {
      margin: 25px auto;
      font-size: 16px;
      line-height: 1.5;
    }

    > button {
      width: 120px;
      height: 45px;
      margin-top: 35px;
      background: #313131;
      color: #cfc9c3;
      font-size: 12px;
    }
  }
}

.inside-gnb-hidden {
  display: none;
}

.index {
  .visual {
    position: relative;
    height: 633px;
    background: #E0DAD4;

    .slide {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: auto;
      right: auto;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.2);
      opacity: 0;
      pointer-events: none;
      transition: opacity 1.2s;

      &.on {
        opacity: 1;
        pointer-events: initial;
      }
      
      #svg-icon-equilibrium:hover #equilibrium-equilibrium {
        fill:#fff;
      }

      .contents {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        color: #f2f2f2;
        margin-top: 30px;
        text-align: center;
        font-weight: 100;

        h2 {
          font-size: 65px;
          font-weight: 100;
        }

        em {
          font-size: 18px;
          font-weight: 100;
          letter-spacing: 1px;
        }

        .view-btn {
          margin-top: 10px;

          button {
            padding: 11px 30px;
            background: #1B1B1B;
            color: #fff;
            font-weight: 300;
            font-size: 12px;

            &:hover, &:focus {
              background: #333;
            }
          }
        }

        .view-btn.several-button {
          button {
            padding: 11px;
          }

          button + button {
            margin-left: 10px;
          }
        }
      }
    }

    .s1 {
      background-image: url(../img/HeroBigStandard_3200x1520/1/HeroBigStandard_S01CRUISE-HERO-006_001_Default.jpg);
    }
    .s2 {
      background-image: url(../img/HeroBigStandard_3200x1520/2/HeroBigStandard_S01-FS-GGMarmont2-01_001_Default.jpg);
    }
    .s3 {
      background-image: url(../img/HeroBigStandard_3200x1520/3/HeroBigStandard_S01CRUISE-HERO-062_001_Default.jpg);
    }
    .s4 {
      background-image: url(../img/HeroBigStandard_3200x1520/4/HeroBigStandard_S01CRUISE-HERO-008_001_Default.jpg);
    }

    .indicator {
      position: absolute;
      left: 50%;
      bottom: 30px;
      top: auto;
      right: auto;
      transform: translate(-50%,-50%);
      overflow: hidden;

      li {
        position: relative;
        float: left;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        cursor: pointer;

        &:hover, &:focus { 
          border: 1px solid #f2f2f2;
        }

        &.on {
          border: 1px solid #f2f2f2;

          a {
            width: 0px;
            height: 0px;
          }
        }

        > a {
          position: absolute;
          top: 3px;
          left: 3px;
          right: auto;
          bottom: auto;
          display: block;
          width: 4px;
          height: 4px;
          background: #f2f2f2;
          border-radius: 3px;
        }
      }

      li+li {
        margin-left: 20px;
      }
    }

    .slide-btns {
      > a {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
      }

      .prev-btn {
        left: 40px;
      }

      .next-btn {
        right: 40px;
      }
    }

    .present-svc {
      > h3 {
        > a {
          position: absolute;
          right: 26px;
          bottom: 20px;
          font-size: 13px;
          color: #f2f2f2;
    
          i {
            font-size: 9px;
          }
        }
      }
    }
  }
  
  #pc-index-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100px;
    padding-top: 25px;
    box-shadow: inset 0px 70px 100px -30px rgba(0,0,0,0.8);
    transition: background-color .3s, height .3s;
    z-index: 1;

    &.on, &:hover, &:focus {
      background-color: #1B1B1B;
    }

    .snb-wrap {
      #nation-info {
        position: absolute;
        top: 25px;
        left: 25px;
        right: auto;
        bottom: auto;

        li + li {
          margin-left: 10px;
        }
      }

      .user-info {
        position: absolute;
        top: 25px;
        right: 90px;
        left: auto;
        bottom: auto;

        > li + li {
          margin-left: 20px;
        }

        #popup-login {
          .dropdown-wrap {
            left: -120px;

            .popup-design {
              &:before {
                left: 130px;
              }
            }
          }
        }

        #popup-like-it {
          .dropdown-wrap {
            right: -5px;

            > div {
              &:before {
                right: 10px;
              }
            }
          }
        }

        #popup-shopping-bag {
          .dropdown-wrap {
            left: -220px;

            > div {
              &:before {
                left: 218px;
              }
            }
          }

          h3 {
            border: none;
          }
        }
      }

      #nation-info, .user-info {
        > li {
          position: relative;
          display: inline-block;

          .dropdown-wrap {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            transition: opacity .5s;

            &.on {
              opacity: 1;
              pointer-events: initial;
              visibility: inherit;
              z-index: 1;
            }
          }
        }

        li {
          > span {
            color: rgba(255, 255, 255, 0.9);

            &.cursor {
              cursor: pointer;
            }

            &:hover, &:focus {
              color: rgba(255, 255, 255, 1);

              i {
                color: rgba(255, 255, 255, 1);
              }
            }

            i {
              margin-right: 4px;
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
    }

    h1 {
      text-align: center;
      color: #f2f2f2;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 15px;
    }

    .site-search {
      .box-close, .box-open {
        &.hidden {
          display: none;
        }
      }
      > div {
        position: absolute;
        top: 0%;
        left: auto;
        right: 0%;
        bottom: auto;
  
        button {
          display: block;
          position: absolute;
          top: 15px;
          right: 25px;
          left: auto;
          bottom: auto;
          width: 34px;
          height: 34px;
          border: 3px solid rgba(255, 255, 255, 0.4);
          border-radius: 17px;
          background: transparent;
  
          &:hover, &:focus {
            border-color: rgba(255, 255, 255, 0.9);
    
            &:before {
              border-color: rgba(255, 255, 255, 0.9);
            }
    
            i {
              color: rgba(255, 255, 255, 0.9);
            }
          }
  
          i {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            right: auto;
            bottom: auto;
            transform: translate(-50%, -50%);
            color: rgba(255, 255, 255, 0.4);
            font-size: 15px;
          }
        }
      }
    }

    .dropdown-wrap {
      .shopping-area {
        &:before {
          left: 10px;
        }
  
        > div {
          margin: 0px 20px;
          padding-top: 30px;
  
          &:last-child {
            padding-bottom: 30px;
          }
  
          > em {
            font-weight: bold;
          }
  
          > p {
            margin: 20px 0px;
          }
  
          .nation-select {
            display: flex;
            justify-content: space-between;
  
            > a {
              position: relative;
              display: inline-block;
            }
  
            > a + a {
              &:before {
                content: '';
                display: block;
                position: absolute;
                top: -8px;
                left: -20px;
                right: auto;
                bottom: auto;
                width: 1px;
                height: 30px;
                background: #e7e7e7;
              }
            }
          }
  
          .search-box {
            position: relative;
            margin-top: 20px;
  
            input {
              width: 100%;
              height: 40px;
              padding: 0px 10px;
              background: #F4F4F4;
              font-size: 12px;
              box-sizing: border-box;
              color: #aaaaaa;
  
              &.on {
                border: 1px solid #9e9e9e;
              }
            }
  
            a {
              position: absolute;
              top: 50%;
              right: 15px;
              left: auto;
              bottom: auto;
              transform: translate(0%, -50%);
  
              i {
                font-size: 15px;
              }
            }
          }
  
          .use-gps {
            margin-top: 10px;
  
            a {
              color: #aaaaaa;
            }
          }
        }
      }
    }

    .gnb {
      > ul {
        > li[menu] {
          > ul[menu-list] {
            .fashion-show {
              a {
                display: block;
              }
  
              ul, figure {
                display: inline-block;
              }
  
              ul {
                width: 108px;
              }
  
              figure {
                position: relative;
                vertical-align: top;
                max-width: 350px;
                width: 25vw;
                margin: 10px 0px 0px 40px;
  
                .slide {
                  position: relative;
                  height: 154px;
                  overflow: hidden;
  
                  .slide-wrap {
                    position: absolute;
                    height: 100%;
                    transition: left .3s;
  
                    a {
                      position: absolute;
                      height: 100%;
  
                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }
  
                #indicator {
                  position: absolute;
                  bottom: -20px;
                  left: 50%;
                  right: auto;
                  top: auto;
                  transform: translate(-50%, 0%);
                  width: auto;
  
                  li + li {
                    margin-left: 6px;
                  }
  
                  li {
                    display: inline-block;
  
                    a {
                      width: 6px;
                      height: 6px;
                      border: 1px solid #727272;
                      border-radius: 3px;
                    }
  
                    &:hover, &:focus {
                      a {
                        background: black;
                      }
                    }
  
                    &.on {
                      a {
                        background: black;
                      }
                    }
                  }
                }
              }
            }
  
            .gucci-edit {
              > ul {
                padding-top: 10px;
  
                > li {
                  margin-top: 5px;
  
                  > a {
                    display: block;
                    cursor: pointer;
  
                    div {
                      display: inline-block;
                      width: 70px;
                      height: 70px;
  
                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
  
                    em {
                      padding-left: 10px;
                      font-size: 11px;
                      vertical-align: top;
                    }
                  }
                }
              }
            }
          }

          .menu-style-WM {
            padding: 0px 0px 55px;
            text-align: center;
  
            > li {
              display: inline-flex;
              justify-content: space-between;
              max-width: 1150px;
              width: 85vw;
              margin: 0px auto;
  
              > div {
                > .gnb-sub-header {
                  margin: 26px 0px 22px;
  
                  a {
                    color: #313131;
                    font-weight: bold;
                    letter-spacing: 1px;
                  }
                }
  
                > ul {
                  li + li {
                    margin-top: 12px;
                  }
                  li {
                    a {
                      font-size: 12px;
                      color: rgba(49, 49, 49, 0.7);
                      font-weight: 400;
                    }
  
                    &:hover, &:focus {
                      a {
                        color: rgba(49, 49, 49, 1);
                      }
                    }
                  }
                }
              }
            }
          }
  
          .wide-list {
            > li {
              padding: 0px 65px;
            }
  
            .details {
              div {
                margin-top: 40px;
              }
            }
          }
  
          .gucci-deco {
            > li {
              display: inline-block;
              width: 30vw;
              overflow: hidden;
  
              > a {
                display: block;
                width: fit-content;
                margin-bottom: 22px;
              }
  
              &:nth-of-type(1) {
                max-width: 470px;
                width: 35vw;
                padding: 0px 15px;
              }
  
              > ul + ul {
                padding-left: 12px;
              }
  
              ul {
                float: left;
                max-width: 160px;
                width: 33%;
  
                li:first-child {
                  margin-top: 0px;
                }
              }
            }
          }
  
          .gucci-story {
            > li {
              &:nth-of-type(1) {
                max-width: 350px;
                width: 30%;
                padding: 0px 15px;
              }
  
              &:nth-of-type(2) {
                max-width: 440px;
                width: 36%;
                padding: 0px 15px;
  
              }
  
              &:nth-of-type(3) {
                width: 33%;
              }
  
              > a {
                margin-bottom: 26px;
              }
              overflow: hidden;
              > ul {
                float: left;
                width: 50%;
  
                li:first-child {
                  margin-top: 0px;
                }
              }
            }
  
            
            .recently-info {
              > ul {
                > li + li {
                  margin-top: 10px;
                }
  
                > li {
                  > a {
                    display: block;
                    height: 80px;
  
                    img {
                      height: 100%;
                    }
  
                    div {
                      display: inline-block;
                      max-width: 120px;
                      width: calc(100% - 86px);
                      padding-left: 12px;
                      vertical-align: top;
                      font-size: 11px;
  
                      em, span {
                        word-break: break-all;
                      }
  
                      em {
                        display: block;
                        font-weight: bold;
                        margin-bottom: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
          .details {
            > div {
              position: relative;
              margin-top: 22px;
            }
          }
        }
      }
    }
  }
  
  #mnb {
    display: none;
    position: fixed;
    z-index: 1;

    &.on {
      max-height: 835px;
      background: rgba(255, 255, 255, 0.98);
    }

    .menu-wrap {
      display: block;
      position: fixed;
      top: 0px;
      left: 0px;
      right: auto;
      bottom: auto;
      width: 100%;
      height: 80px;
      background: #111;

      .menu {
        .menu-open-btn {
          position: relative;
          float: left;
          margin: 30px 0px 0px 30px;
          font-size: 20px;
          color: #ABA7A3;
          background: transparent;
          z-index: 1;

          &:before {
            display: inline-block;
            content: url(../img/icons/menu-bar.png);
            margin-right: 5px;
            vertical-align: middle;
          }
        }

        .menu-close-btn {
          display: none;
          position: relative;
          float: right;
          width: 18px;
          margin: 15px 15px 0px 0px;
          font-size: 15px;
          background: transparent;
          z-index: 5;

          &.on {
            display: block;
          }

          &.active {
            display: block;
            right: 20px;
          }
        }
      }

      .inside-gnb-info {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 835px;
        text-align: center;
        z-index: 3;
        background-color: #fff;

        &.on {
          display: block;
        }

        > li {
          a {
            display: block;
            height: 40px;
            margin: 5px 0px;
            padding: 10px 0px 0px 0px;
            color: #323232;
            font-size: 15px;
            letter-spacing: 1px;
          }
        }

        .gnb {
          padding: 40px 0px 0px 0px;
          background: rgba(255,255,255,0.98);
          z-index: 2;

          > ul {
            > li[menu] {
              > a {
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 2px;
              }

              > ul {
                display: none;
              }
            }
          }
        }

        .dropdown-wrap {
          position: static;
          top: auto;
          left: auto;

          .popup-design {
            width: 100%;
            border: none;

            > ul {
              height: 140px;

              > li {
                width: 80%;
                top: 35px;
              }
            }
          }
        }

        #popup-login {
          .login {
            .join-btn {
              top: -85px;
              left: 50%;
              transform: translate(-50%, 0%);
              width: 320px;
              font-size: 12px;
            }

            .login-btn {
              margin: 20px 0px 0px 0px;
              background-color: transparent;
            }
          }
        }

        #popup-like-it {
          h3 {
            padding: 0px;
            border: none;
          }
          .dropdown-wrap {
            > div {
              width: 100%;
              margin: 0px;

              &:before {
                display: none;
              }

              > ul {
                display: none;
              }
            }
          }
        }

        .delivery-area {
          > ul {
            display: none;
          }
        }

        .languege {
          height: 40px;
          margin: 5px 0px;
          padding: 10px 0px 0px 0px;

          span {
            font-size: 15px;
            letter-spacing: 1px;
          }
        }

        .clientservice-num {
          i {
            display: none;
          }
        }
      }

      
      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);

        img {
          width: 147px;
        }
      }

      .outside-gnb-info {
        position: relative;
        top: 0px;
        left: 0px;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 80px;
        text-align: right;

        > li {
          display: inline-block;
          margin: 26px 25px 0px 0px;
          color: #ABA7A3;
          font-size: 20px;
          cursor: pointer; 

          > span[hidden-text].hidden {
            display: none;
          }

          > span {
            i {
              color: rgba(255, 255, 255, 0.4);
            }
          }
          .dropdown-wrap {
            display: block;
            top: -450px;
            right: 18px;
            left: auto;
            bottom: auto;
            font-size: 11px;
            width: 43%;
            transition: top .5s;

            &.hidden {
              display: none;
            }
            
            &.on {
              top: calc(100% - 20px);

              > div {
                &:before {
                  top: 56px;
                  right: 118px;
                  opacity: 1;
                }
              }
            }

            > div {
              width: 100%;

              &:before {
                position: fixed;
                top: 51px;
                right: 126px;
                border-width: 12px;
                opacity: 0;
                transition: opacity 1s;
              }

              > h3 {
                padding-top: 15px;
                font-size: 24px;
                border-bottom: none;
              }

              > ul {
                padding: 0px 0px 25px 0px;
                > li {
                  font-size: 16px;
                }
              }
            }
          }
        }

        .site-search {
          > div {
            button {
              background: transparent;
              color: rgba(255, 255, 255, 0.4);

              i {
                font-size: 18px;
              }
            }
          }

          .box-open {
            &.m-hidden {
              display: none;
            }
          }

          .box-close {
            &.m-hidden {
              display: none;
            }
          }
        }
      }
    }
  }

  .dropdown-wrap {
    position: absolute;
    top: 100%;
    left: auto;
    right: auto;
    bottom: auto;

    &.hidden {
      display: none;
    }

    > div {
      width: 310px;
      margin-top: 20px;
      background: #fff;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: auto;
        right: auto;
        bottom: auto;
        border: 6px solid transparent;
        border-bottom-color: #fff;
      }

      a {
        color: #313131;
      }

      i {
        color: #aaaaaa;
      }

      > h3 {
        padding: 10px 0px;
        font-size: 16px;
        text-align: center;
        border-bottom: 1px solid #e7e7e7;
        color: #4d4d4d;
      }

      > ul {
        padding: 20px;

        > li {
          text-align: center;
        }
      }
    }
  }

  .popup-design {
    border: 1px solid #f2f2f2;

    > ul {
      position: relative;
      height: 170px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 800px 170px;
      box-shadow: inset 0 0 0 700px rgba(0,0,0,0.4);
      color: #f2f2f2;

      > li {
        position: absolute;
        top: 45px;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, 0%);
        width: 240px;
        font-size: 16px;
        text-align: center;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: opacity .5s;

        &.on {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .login {
      position: relative;

      > a {
        display: block;
        margin: 20px;
        padding: 13px 0px;
        text-align: center;
        background: #000;
        color: #fff;
        letter-spacing: 2px;
        font-size: 12px;
      }

      .join-btn {
        position: absolute;
        top: -100px;
        right: auto;
        left: auto;
        bottom: auto;
        width: calc(100% - 40px);
        background: #fff;
        color: #000;
      }
    }
  }
  
  .index-main {
    display: block;
    position: relative;
    margin: 16px;
    text-align: center;
    z-index: 0;

    > section + section {
      margin-top: 2px;
    }

    > section {
      position: relative;
      width: 100%;
      background: #e7e7e7;
      color: #989898;
      font-weight: 300;
      overflow: hidden;

      > aside {
        position: absolute;
        top: 120px;
        left: auto;
        right: auto;
        bottom: auto;
        width: 180px;
        background: #f5f5f5;
        z-index: 1;

        > a {
          display: block;
          margin: 40px 10px;
          color: #666666;
          font-weight: 400;

          > h4 {
            padding-top: 20px;
            font-size: 20px;
            font-weight: 300;
            color: #434343;
          }

          > p {
            margin-top: 20px;
            font-size: 14px;
            line-height: 1.4;
          }

        }
        .no-padding {
          padding-top: 0px;
          word-break: keep-all;
        }
      }

      .aside-right {
        right: 200px;
      }
      .aside-left {
        left: 200px;
      }
      aside.aside-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .section-image {
      position: relative;
      top: -100px;
      left: auto;
      right: auto;
      bottom: auto;
      margin: 0px auto;
    }

    .model-look {
      padding-bottom: 250px;

      .section-image {
        top: 100px;
      }

      .section-contents {
        top: 150px;
      }

      aside {

        &:nth-of-type(1) {
          top: 100px;
        }
              
        &:nth-of-type(2) {
          top: 690px;
        }

        &:nth-of-type(3) {
          top: auto;
          bottom: 420px;
        }
      }
    }

    .full-image {
      .section-image {
        top: 0px;

        img {
          width: 100%;
        }
      }
    }

    .section-contents {
      position: relative;
      top: -200px;
      left: auto;
      right: auto;
      bottom: auto;

      > em {
        margin-top: 20px;
        font-size: 16px;
      }
      
      h4 {
        margin: 18px 0px 12px;
        color: #636363;
        font-weight: 300;
        font-size: 35px;
        letter-spacing: 2px;
      }

      > span {
        display: block;
      }

      > a {
        display: inline-block;
        margin-top: 15px;
        line-height: 40px;
        font-size: 12px;

        &:hover, &:focus {
          > span {
            background: #313131;
          }
        }

        > span {
          padding: 13px 42px;
          background: #1a1a1a;
          vertical-align: middle;
          letter-spacing: 1px;
          color: #f2f2f2;
        }
      }
    }

    .section-gucci-story {
      padding-bottom: 40px;
      max-height: 1028px;
      height: auto;

      h3 {
        margin: 70px 0px;
        color: #636363;
        font-weight: 300;
        font-size: 35px;
        letter-spacing: 2px;

        &:after {
          content: '';
          display: block;
          width: 150px;
          height: 1px;
          margin: 10px auto;
          background: gray;
        }
      }

      .contents-wrap {
        position: relative;
        max-width: 1200px;
        width: 90vw;
        margin: 0px auto;

        > div {
          position: absolute;
          top: 0px;
          left: auto;
          right: auto;
          bottom: auto;
          width: 33%;
          height: calc(100% - 100px);

          article {
            position: absolute;
            top: auto;
            left: 50%;
            right: auto;
            bottom: auto;
            transform: translate(-50%, 0%);
            max-width: 340px;
            width: 90%;

            .image-part {
              img {
                width: 100%;
              }
            }
    
            h4 {
              margin-top: 20px;
              font-size: 20px;
            }
    
            .aside-hover-effect {
              margin-top: 10px;
            }
          }

          .position-top {
            top: 0px;
            bottom: auto;
          }

          .position-bottom {
            top: auto;
            bottom: 0px;
          }
        }

        .left-absolute {
          left: 0px;
          right: auto;
        }

        .center-relative {
          position: relative;
          height: fit-content;
          margin: 0px auto;
          padding-bottom: 100px;

          article {
            position: static;
            transform: none;
            margin: 0px auto;
          }
        }

        .right-absolute {
          right: 0px;
          left: auto;
        }

      }
    }

    .scroll-top {
      position: absolute;
      bottom: -10px;
      right: 10px;
      top: auto;
      left: auto;
      width: 40px;
      height: 40px;
      background-color: #fff;
      box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);

      i {
        color: #999;
        font-size: 15px;
      }
    }

    .aside-hover-effect {
      display: inline-block;
      margin-top: 23px;
      color: #424242;
      font-size: 12px;
      font-weight: 400;
    
      &:hover, &:focus {
        color: #7a7a7a;
      }
    }
    
    .wide-margin {
      margin-top: 50px;
    }
  }

  .index-footer {
    background: #1b1b1b;

    .footer-wrap {
      position: relative;
      max-width: 1200px;
      margin: 0px auto;
    
      .footer-menu-wrap {
        position: relative;
        padding: 60px 0px 0px 30px;

        header, i, em, address {
          font-size: 12px;
          color: #E5DFD9;
        }
      
        header, i {
          color: #807D7A;
        }
      
        a {
          i, span {
            display: inline-flex;
          }

          .width-calc {
            width: calc(100% - 23px);
          }
      
          i {
            margin-right: 6px;
          }
        }
      
        .font-weight-bold {
          font-weight: bold;
        }
        
        .footer-menu {
          display: inline-block;
          width: 16.5%;
          vertical-align: top;
          
          > header {
            font-size: 13px;
          }

          > ul, > div {
            width: 90%;
            margin-top: 35px;
          }

          > ul {
            > li + li {
              margin-top: 10px;
            }

            > li {
              position: relative;

              .sns-qr-code {
                &:before {
                  display: none;
                  content: '';
                  position: absolute;
                  top: -50px;
                  left: -140px;
                  right: auto;
                  bottom: auto;
                  width: 130px;
                  height: 130px;
                  background-image: url(../img/common/kakao-QR-code/kakao-qr-code.jpg);
                  background-size: contain;
                  color: #fff;
                }

                &:hover, &:focus  {
                  &:before {
                    display: block;
                  }
                }
              }

              > a {
                display: block;
                color: #E5DFD9;

                &:hover, &:focus {
                  color: #fff;

                  .sns-color-1 {
                    color: #355CA9;
                  }

                  .sns-color-2 {
                    color: #DE2C28;
                  }

                  .sns-color-3 {
                    color: #00ABF0;
                  }

                  .sns-color-4 {
                    color: #E5D93F;
                  }

                  span {
                    color: #fff;
                  }
                }
              }
            }
          }
        }

        .footer-menu.shop-search {
          width: 32%;
          padding-left: 45px;
          box-sizing: border-box;

          > header {
          }

          .search {
            position: relative;
            width: 200px;
            margin-top: 25px;

            > input::placeholder {
              color: #E5DFD9;
              font-size: 12px;
            }

            > input {
              width: 100%;
              height: 30px;
              padding-left: 20px;
              background: #000;
              outline: none;
              color: #444;

              &.on {
                background: #fff;
              }

              &:focus::placeholder {
                color: #333;
              }
            }

            > i {
              position: absolute;
              top: 50%;
              left: 5px;
              right: auto;
              bottom: auto;
              transform: translate(0%, -50%);
            }

            > button {
              display: block;
              position: absolute;
              top: 50%;
              left: 100%;
              right: auto;
              bottom: auto;
              transform: translate(0%, -50%);
              width: 30px;
              height: 30px;
              background-color: #000;

              &.on {
                background-color: buttonface;
              }

              &:hover, &:focus {
                background-color: rgba(110, 107, 103, 0.8);
              }
            }
          }

          .other-site {
            display: inline-flex;
            max-width: 320px;
            width: 100%;
            height: 50px;
            margin-top: 65px;
      
            > a, > button {
              display: block;
              width: 25%;
              margin-top: 5px;
              opacity: 0.5;
      
              &:hover, &:focus {
                opacity: 1;
              }
            }

            > button {
              opacity: 1;
            }
            
            svg {
              display: block;
              width: 65px;
              height: 45px;
              margin: 0px auto;
            }
      
            .app-group {
              display: block;
              position: relative;
              background-color: #1B1B1B;
              overflow: visible;
  
              > div {
                .app-link-toggle {
                  height: 50px;
  
                  svg {
                    position: absolute;
                    top: 0px;
                    left: 50%;
                    right: auto;
                    bottom: auto;
                    transform: translate(-50%, 0%);
                    width: 50px;
                    height: 50px;
                  }
        
                  .reversal-icon {
                    display: none;
        
                    &.on {
                      display: block;
                    }
                  }
      
                  .app-links-wrap {
                    position: absolute;
                    bottom: 100%;
                    left: 0px;
                    top: auto;
                    right: auto;
                    padding-bottom: 15px;
                    opacity: 0;
                    pointer-events: none;
                    visibility: hidden;
                    transition: opacity .5s;
        
                    &.on {
                      opacity: 1;
                      pointer-events: initial;
                      visibility: inherit;
                    }
                    
                    #app-links {
                      width: 95px;
                      padding: 0px 5px;
                      background-color: #f2f2f2;
                      box-shadow: 0px 0px 3px 1px #9F111B;
            
                      &::before {
                        display: block;
                        content: '';
                        position: absolute;
                        top: calc(100% - 15px);
                        left: 15px;
                        right: auto;
                        bottom: auto;
                        width: 14px;
                        height: 14px;
                        border: 7px solid transparent;
                        border-top-color: #f2f2f2;
                        box-sizing: border-box;
                      }
            
                      > a {
                        position: relative;
                        display: block;
                        padding: 6px 3px 4px;
                        font-size: 10px;
                        text-align: left;
            
                        i {
                          position: absolute;
                          right: -5px;
                          bottom: 4px;
                          top: auto;
                          left: auto;
                          color: rgba(159, 17, 27, 0.8);
                        }
                      }
            
                      > a + a {
                        border-top: 1px solid rgba(159, 17, 27, 0.5);
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .text-ir {
          font-size: 0px;
        }
      }

      .gucci-info {
        padding: 100px 0px 20px 15px;
        font-size: 12px;
        color: #999;
        line-height: 1.7em;

        a {
          text-decoration-line: underline;
          font-size: 11px;
        }

        > span {
          display: block;
        }

        > address {
          font-style: normal;
        }

        > address, em {
          display: inline-block;
        }
      }
    }
  }
}


//design
.text-ir {width:0px; height:0px; text-indent: -9999px; font-size: 0px;}
.i-text-ir {position: absolute; left: -9999px; width: 0px; height: 0px; font-size: 0px;}
.no-cursor {cursor: none;}


@media all and (min-width: 1024px) {
  .site-search {
    .box-open {
      width: 100%;
      height: 65px;
      background: #313131;

      > div {
        margin-top: 17px;

        a {
          display: inline-block;
          margin-left: 4%;
          color: #999999;
          font-size: 16px;

          &:hover, &:focus {
            color: #fff;
          }
        }

        input {
          display: inline-block;
          width: calc(96% - 90px);
          height: 30px;
          margin-left: 5px;
          outline: none;
          background: #313131;
          color: #999999;
          font-size: 18px;
        }
      }
    }
  }

  .gnb {
    font-size: 12px;

    > ul {
      position: absolute;
      top: auto;
      left: 50%;
      right: auto;
      bottom: 0%;
      transform: translate(-50%, 0%);
      width: 100%;
      text-align: center;
      z-index: -1;

      li {
        vertical-align: top;
      }
      
      > li[menu] {
        display: inline-block;
        margin: 21px 0px 0px;

        > a {
          display: block;
          padding: 5px 17px 26px;
          color: rgba(242, 242, 242, 0.8);

          &:hover, &:focus {
            color: rgba(242, 242, 242, 1);
          }
        }

        > ul[menu-list] {
          position: absolute;
          top: 100%;
          left: 0%;
          right: 0%;
          bottom: auto;
          margin: 0px 16px;
          background: rgba(255, 255, 255, 0.95);
          height: auto;
          padding: 26px 10px 55px;
          transition: opacity .2s;
          opacity: 0;
          pointer-events: none;
          visibility: hidden;

          &.on {
            opacity: 1;
            pointer-events: initial;
            visibility: inherit;
          }

          li {
            text-align: left;
          }

          > li + li {
            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 0px;
              left: 0px;
              right: auto;
              bottom: auto;
              width: 1px;
              height: 230px;
              background: #e7e7e7;
            }
          }

          > li {
            position: relative;
            display: inline-block;
            margin: 0px auto;
            padding: 0px 35px;

            a {
              display: block;
              font-size: 12px;
            }

            > a {
              color: #313131;
              font-weight: bold;
              letter-spacing: 1px;
            }

            > ul {
              margin-top: 5px;

              > li:first-child {
                margin-top: 22px;
              }
              > li {
                margin-top: 12px;

                a {
                  font-size: 12px;
                }

                a {
                  color: rgba(49, 49, 49, 0.7);
                  font-weight: 400;
                }

                &:hover, &:focus {
                  a {
                    color: rgba(49, 49, 49, 1);
                  }
                }
              }
            }
          }
        }
      }

      .no-border-all-list {
        > li + li {
          &:before {
            width: 0px;
            height: 0px;
          }
        }
      }

      .no-border {
        &:before {
          width: 0px;
          height: 0px;
        }
      }

      .slide-inside-text {
        display: block;
        position: absolute;
        top: 50%;
        left: auto;
        right: auto;
        bottom: auto;
        transform: translate(0%, -50%);
        width: 100%;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;

        span {
          font-weight: normal;
        }
      }

      .details {
        max-width: 420px;

        div {
          a {
            position: relative;
            display: block;
            width: 100%;
            height: 154px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 1297px) {
  .index {
    #pc-index-header[minimal] {
      height: 65px;
      padding-top: 0px;
  
      h1 {
        display: none;
      }

      .snb-wrap {
        #nation-info, .user-info {
          > li {
            span[hidden-text].hidden {
              display: none;
            }
          }
        }
  
        #nation-info {
          li + li {
            margin-left: 0px;
          }
    
          > li {
            .dropdown-wrap {
              left: -12px;
    
              > div {
                &:before {
                  left: 9px;
                }
              }
            }
          }
        }
  
        // .index #pc-index-header .user-info #popup-login .popup-design
        .user-info {
          li + li {
            margin-left: 10px;
          }
    
          #popup-login .dropdown-wrap {
            left: -170px;
            
            .popup-design {
              &:before {
                left: 170px;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1600px) and (min-width: 1024px) {
  .index-main {
    > section {
      .aside-right {
        right: 5%;
      }

      .aside-left {
        left: 5%;
      }
    }

    .model-look {
      .section-image {
        img {
          // width: 100%;
        }
      }
    }
  }
}

@media all and (max-width: 1270px) and (min-width: 768px) {
  .index {
    .visual {
      height: auto;
      padding-top: 50%;
    }
  }
}

@media all and (max-width: 1023px) and (min-width: 768px) {
  .index {
    .index-main {
      > section {
        > aside {
          width: 18.5vw;
  
          a {
            h4 {
              font-size: 18px;
            }
          }
  
          .disappear {
            display: none;
          }
        }
  
        .aside-right {
          top: 50px;
          right: 15px;
        }
  
        .aside-left {
          left: 15px;
        }
      }
  
      .section-image {
        top: -50px;
    
        img {
          width: 350px;
        }
      }
  
      .section-contents {
        top: -100px;
    
        h4 {
          font-size: 25px;
          margin-top: 8px;
        }
      }
  
      .model-look {
        .section-image {
          img {
            // width: 100%;
          }
        }
  
        aside:nth-of-type(2) {
          top: 500px;
        }
  
        aside:nth-of-type(3) {
          bottom: 500px;
        }
      }
  
      .aside-hover-effect {
        margin-top: 40px;
      }
    }
  
    .index-footer {
      .footer-wrap {
        padding: 0px 60px;
  
        .footer-menu-wrap {
          padding: 60px 0px 0px;
  
          .footer-menu {
            width: 24%;
  
            > ul {
              width: 100%;
            }
  
            > div {
              width: 200px;
              margin-top: 20px;
            }
          }
  
          .footer-menu.shop-search {
            position: relative;
            display: block;
            width: auto;
            margin-top: 100px;
            padding-left: 0px;
            
            &:before {
              display: block;
              content: '';
              position: absolute;
              top: -50px;
              left: 0px;
              right: auto;
              bottom: auto;
              width: 100%;
              height: 1px;
              background: #49443E;
            }

            .search {
              width: 180px;
            }

            .other-site {
              max-width: none;
              width: 50%;
              margin-top: 80px;

              svg {
                width: 50px;
                height: 40px;
              }

              .app-group {
                > div {
                  .app-link-toggle {
                    position: static;
                    height: 45px;

                    svg {
                      width: 45px;
                      height: 45px;
                    }

                    .app-links-wrap {
                      left: 50%;
                      transform: translate(-50%, 0%);

                      #app-links {
                        &:before {
                          left: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
  
        .gucci-info {
          padding: 35px 0px 15px;
        }
      }
    }
  }
}

//header => 1023~767, 767~500
//visual => 768미만
//main => 767 미만
//footer => 768, 767 미만

@media all and (max-width: 1023px) and (min-width: 500px) {
  //min-height: 835px
  .index {
    #pc-index-header {
      display: none;
    }

    #mnb {
      display: block;
    }
    
    .popup-design {
      > ul {
        height: 160px;
      }

      .login {
        > a {
          padding: 12px 0px;
        }
      }
    }
        
    .prev-fontawesome {
      display: none;
      position: absolute;
      top: 20px;
      left: 17px;
      right: auto;
      bottom: auto;
      width: 15px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-size: 17px;
      cursor: pointer;

      &.on {
        display: inline;
      }
    }
  }
}



@media all and (max-width: 1023px) {  
  body {
    overflow: hidden;
  }

  .body-modal.backdrop {
    display: block;
    background: black;
    z-index: 3;

    .dialog {
      width: 500px;
      font-size: 25px;
    }
  }
}